/* want to change how css targers object */
/* targets everything on the page */
* {
    /* this changes the way the margins and padding work so that the width includes the margin and padding*/
    box-sizing: border-box;
}

body {
    /* changing the height so that it is 100% of the screen is viewing it (100 view height)*/
    height: 100vh;
    /* same thing but so that the page takes up 100% of the width as well (view width */
    width: 100vw;
    /* giving this a background that is tied to a URL */
    background: url("https://wallpapers.com/images/hd/rick-and-morty-under-the-sea-ocidh9za5jy6pao4.jpg");
    margin: 0;
    /* tells it to align everything to the center of the page */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* this is modifying the box object within the html */
.box {
    background-color: rgba(198, 197, 185, 0.7);
    width: 55vw;
    min-height: 400px;
    border-radius: 12px;
    box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* this is modifying the h2 tag in the html */
  #question {
    text-align: center;
    font-size: 2rem;
  }
  
  /* DONE! This line forward is on Notion */
  label,
  input {
    cursor: pointer;
  }
  
  .item {
    padding: 1rem;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin: 1rem 0;
    font-size: 1.2rem;
  }
  
  #submitBtn {
    background: rgb(36, 128, 62);
    color: white;
    border: none;
    border-radius: 4px;
    height: 50px;
    width: 30%;
    align-self: center;
    cursor: pointer;
    margin-bottom: 16px;
  }
  
  #submitBtn:hover {
    background-color: rgb(33, 198, 80);
  }
  
  h1 {
    font-size: 2rem;
    text-align: center;
  }
  
  #retryBtn {
    background: rgb(13, 221, 72);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 70px;
  }